<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}{% endblock %} - Amrita Placements</title>

	<!-- ICONSCOUT CDN -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css">

    <!-- GOOGLE FONTS (MONTSERRAT) -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>	

	<link rel='stylesheet' href="{{ url_for('static', filename='style.css') }}">
	<!-- <link rel='stylesheet' href="{{ url_for('static', filename='profile.css') }}"> -->
</head>
<nav>
			<div class="container nav__container">
				<a href="index.html" style="color: #b10f56 "><h4>Amrita</h4></a>
				<ul class="nav__menu">
					<li><a href="{{ url_for('dashboard.index')}}">Home</a></li>
					{% if g.user %}
					<li><a href="{{url_for('dashboard.profile')}}">Dashboard</a></li>
					<li><span>{{ g.user['username'] }}</span></li>
					<li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
					{% else %}
					<li><a href="{{ url_for('auth.register')}}">Register</a></li>
					<li><a href="{{ url_for('auth.login')}}">Log In</a></li>
					{% endif %}
				</ul>
				<!-- <button id="open-menu-btn"><i class="uil uil-bars"></i></button>
				<button id="close-menu-btn"><i class="uil uil-multiply"></i></button> -->
			</div>
		</nav>
		 <!--========================== END OF NAVBAR ============================-->
		<body>
			<!-- <header>
				{% block header %}{% endblock %}
			</header> -->
			{% for message in get_flashed_messages() %}
				<div class="flash">{{ message }}</div>
			{% endfor %}
			{% block content %}{% endblock %}
		</body>
		</html>

