{% extends 'base.html' %}
{% block content %}
  <section id="profile-info" class="box">
    <img src="../../images/users/default.jpeg" height="200px" width="200px"alt="Profile Photo">
    <p>Roll Number<br>Name<br>Branch<br>Year of Study<br>CGPA<br>Placement Status<br>Phone Number<br>Email ID<br>GitHub Profile<br>LinkedIn Profile</p>
    <button value="edit">Edit Profile</button>
  </section><br>  
  <section id="info" class="box">
    <p>Profile Views<br>
    Contact Requests><br>
    Placement Offers<br>
    Document Verification Status</p>
  </section>
{% endblock %}

